<article class="message is-dark">
	<div class="message-header">
		<p>Nova Universidade</p>
	</div>
 </article>
 <%= render 'form', university: @university %>
<br>
<%= link_to 'Voltar', universities_path,class: "button is-link" %>
